*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: rgb(66, 2, 78);
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.menu {
    padding: 12px;
    background: rgb(66, 2, 78);
    opacity: 1;
    width: 375px;
    float: left;
}

.menu a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    padding: 1px;
    text-decoration: none;
    color: white;
}

a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 31px;
    float:right;
}

.main {
    position: relative;
    overflow: hidden;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    background-color: rgb(201, 161, 30);
}

.main h2 {
    background-color: rgb(201, 161, 30);
}

.main p {
    padding-top: 45px;
    line-height: 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: rgb(201, 161, 30);
    padding-bottom: 10px;
    background-color: rgb(201, 161, 30);
}

.main img {
    text-align: center;
    border: 8px solid rgb(66, 2, 78);
    border-radius: 8px;
    width: 200px;
}

.title-text {
    /* Styles specifically for the title link */
    text-decoration: none; /* Remove underline */
    color: white; /* Set color */
    /* Add any other specific styles */
}

.topic {
    width: 100%;
    height: 20vh;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    bottom: 0px;
    /*background: linear-gradient(to right, #e270f7, #8ecdff, #e270f7, #8ecdff)*/
    background: rgb(201, 161, 30);
}

.content_1 {
    padding-left: 400px;
    padding-bottom: 30px;
}

.content_1 h3 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.content_1 p {
    padding-top: 15px;
    padding-left: 350px;
    padding-right: 400px;
    font-size: 20px;
}

.content_2 {
    padding-right: 400px;
    padding-bottom: 30px;
}

.content_2 p {
    padding-top: 15px;
    padding-left: 400px;
    padding-right: 375px;
    font-size: 20px;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 300px 0 300px;
    text-align: center;
}

.contact img {
    margin: 10px;
    display: block;
}

h2 {
    background-color: rgb(201, 161, 30);
    background-color: rgb(201, 161, 30);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 50px;
    padding-bottom: 25px;
    text-align: center;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    color: white;
    padding-top: 65px;
    padding-bottom: 25px;
}

img {
    border: 8px solid rgb(201, 161, 30);
    border-radius: 8px;
}

p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    line-height: 3vh;
    padding-left: 400px;
    color: white;
}

@media (max-width: 955px) {
    .main {
        width: 100%;
    }

    .menu {
        width: 100%;
        text-align: center;
    }

    .menu a {
        width: 100%;
    }

    a {
        width: 25%;
        text-align: center;
    }

    .menu {
        width: 100%;
        text-align: center;
    }

    .menu a {
        width: 100%;
    }

    a {
        width: 25%;
        text-align: center;
    }
}

@media (min-width: 956px) {
    .main {
        width: 100%;
        background-color: rgb(201, 161, 30);
    }
}
