*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main {
    position: relative;
    overflow: hidden;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    background-color: rgb(201, 161, 30);
}

.main p {
    padding-top: 45px;
    line-height: 1;
    padding-left: 20px;
    padding-right: 20px;
}

.main img {
    text-align: center;
    border: 8px solid rgb(66, 2, 78);
    border-radius: 8px;
    width: 200px;
}

.menu {
    padding: 12px;
    background: rgb(66, 2, 78);
    opacity: 1;
}

.menu a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    padding-left: 12px;
    text-decoration: none;
    color: white;
}

.links a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    float: right;
    color: white;
    padding: 20px;
}

.title-text {
    /* Styles specifically for the title link */
    text-decoration: none; /* Remove underline */
    color: white; /* Set color */
    /* Add any other specific styles */
}

.topic {
    width: 100%;
    height: 24.5vh;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    bottom: 0px;
    /*background: linear-gradient(to right, #e270f7, #8ecdff, #e270f7, #8ecdff)*/
    background: rgb(201, 161, 30);
}

.content {
    padding-left: 400px;
}

.content h3 {
    padding-bottom: 25px;
}

.content p {
    padding-top: 20px;
    padding-left: 350px
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 65px;
    padding-bottom: 25px;
    text-align: center;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    padding-top: 65px;
    padding-bottom: 25px;
}

img {
    border: 8px solid rgb(66, 2, 78);
    border-radius: 8px;
}

p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    line-height: 3vh;
    padding-left: 400px;
    padding-right: 400px;
}

@media (max-width: 954px) {
    .main {
        width: 100%;
        background-color: aqua;
    }
}

@media (min-width: 955px) {
    .main {
        width: 100%;
        height: 91.5vh;
        position: relative;
        overflow: hidden;
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 50px;
        bottom: 0px;
        background-color: rgb(201, 161, 30);
    }
}